body {
  background-color: rgb(26, 100, 143);
  font-family: "Kelly Slab", cursive;
  overflow-y: hidden;
  margin: 0 auto;
}

.juego {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reels {
  position: absolute;
  display: block;
  height: 68vh;
  width: 78.5vw;
  /* left: 1.5vw;
  top: 17vh; */
  max-width: 700px;
  max-height: 800px;
  z-index: 2;
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#reel1 {
  height: 800vh;
  width: 14vw;
  max-width: 130px;
  border-left: 0.1vw solid black;
  text-align: center;
  background-color: thistle;
  line-height: 17.5vh;
  font-size: 300%;
  top: -85vh;
  overflow: hidden;
  animation: reel1ColorChange 10s infinite;
}

#reel2 {
  height: 800vh;
  width: 14vw;
  max-width: 130px;
  border-left: 0.1vw solid black;
  text-align: center;
  background-color: lightblue;
  line-height: 17.5vh;
  font-size: 300%;
  top: -85vh;
  overflow: hidden;
  animation: reel2ColorChange 10s infinite;
}

#reel3 {
  height: 800vh;
  width: 14vw;
  max-width: 130px;
  border-left: 0.1vw solid black;
  text-align: center;
  background-color: lightgray;
  line-height: 17.5vh;
  font-size: 300%;
  top: -50vh;
  overflow: hidden;
  animation: reel3ColorChange 10s infinite;
}

#reel4 {
  height: 800vh;
  width: 14vw;
  max-width: 130px;
  text-align: center;
  border-left: 0.1vw solid black;
  background-color: palegoldenrod;
  line-height: 17.5vh;
  font-size: 300%;
  top: -85vh;
  overflow: hidden;
  animation: reel4ColorChange 10s infinite;
}

#reel5 {
  height: 800vh;
  width: 14vw;
  max-width: 130px;
  border-left: 0.1vw solid black;
  text-align: center;
  background-color: tan;
  line-height: 17.5vh;
  font-size: 300%;
  top: -50vh;
  overflow: hidden;
  animation: reel5ColorChange 10s infinite;
}

#reelTop {
  width: 75vw;
  height: 1vh;
  max-width: 700px;
  background-color: rgb(70, 69, 69);
  position: absolute;
  top: 0px;
}

#reelBottom {
  width: 75vw;
  height: 1vh;
  max-width: 700px;
  background-color: rgb(70, 69, 69);
  position: absolute;
  top: 67vh;
}

.machine {
  height: 100vh;
  width: 78.5vw;
  max-width: 700px;
  max-height: 800px;
  background-image: radial-gradient(
    black,
    rgb(19, 31, 204),
    rgb(17, 123, 209),
    rgba(36, 36, 36, 0.801)
  );
  border-color: blue;
  /* position: absolute; */
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.displayContainer {
  width: 74vw;
  height: 14vh;
  max-width: 661px;
  background-color: black;
  border-style: double;
  border-width: 3px;
  border-color: darkgray;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
}

#topDisplay {
  /* width: 72vw;
  height: 13vh; */
  /* max-width: 655px; */
  /* vertical-align: middle; */
  position: absolute;
  z-index: 1;
  /* top: 1vh;
  left: 1.5vw;  */
  animation-name: topDisplayAni;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

#topDisplayGlass {
  background-color: rgba(33, 33, 33, 0.452);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3em;
  line-height: 13vh;
  overflow: hidden;
  margin-block-start: 0em;
  margin-block-end: 0em;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 1vh;
  left: 1.5vw; */
}

#spin {
  height: 10vh;
  width: 17vw;
  border-color: black;
  border-radius: 6%;
  color: white;
  box-shadow: 0px 15px 10px black;
  font-family: courier;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  background-image: radial-gradient(rgb(21, 4, 173), rgb(26, 24, 24));
  position: relative;
  max-width: 130px;
  overflow: hidden;
}

#spin:active {
  /* top: 87.5vh; */
  box-shadow: -1px 1px 1px black;
  border: 1px solid black;
  color: pink;
}

#reelSideLeft {
  height: 100vh;
  width: 3vw;
  max-width: 30px;
  text-align: center;
  background-color: black;
  color: white;
  line-height: 17vh;
  font-size: 120%;
  text-orientation: upright;
  overflow: hidden;
}
#reelSideRight {
  height: 100vh;
  width: 2.5vw;
  max-width: 30px;
  text-align: center;
  background-color: black;
  color: white;
  line-height: 17vh;
  font-size: 120%;
  overflow: hidden;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  /* .machine {
    height: 90vh;
    width: 80vw;
    max-width: 700px;
    max-height: 800px;
  }
  .juego {
    height: 50vh;
    width: 50vw;
  } */
}

@keyframes topDisplayAni {
  0% {
    background-image: linear-gradient(
      to right,
      rgb(46, 45, 45),
      rgb(255, 0, 255)
    );
  }
  33% {
    background-image: linear-gradient(to right, rgb(132, 0, 255), darkgray);
  }
  66% {
    background-image: linear-gradient(to right, rgb(0, 128, 117), blue);
  }
  100% {
    background-image: linear-gradient(
      to right,
      rgb(46, 45, 45),
      rgb(255, 0, 255)
    );
  }
}
